@charset "UTF-8";

/* 초기값 설정 */
body {
    font-family: "맑은 고딕";
    font-size: 17px;
}

/* 제목 초기값 설정 */
h1{
    font-family: "궁서체";
    font-size: 30px;
    letter-spacing: 15px;
}

h2 {font-size: 25px;}

h3 {font-size: 20px;}

/* 글자 색상 */
.blue{color: #0000ff;}

.red{color: #ff0000;}

.green{color: #00ff00;}

/* 글자 꾸미기 */
.ita{font-style: italic;}

.b{font-weight: bold;}

.unline{text-decoration: underline;}

/* 리스트 꾸미기 */
ul{list-style-type: square;}

ol{list-style-type: none;}

/* 역사 영역 */
#history{background-color: #d9d9d9;}

#history>h2+h3{
    text-decoration: underline;
    color: #00ff00;
}

#history>p{text-indent: 30px;}

/* speed table 영역 */
#spd_tbl th{background-color: #c8ebfa;}

#spd_tbl>tbody>tr:hover{background-color: #edd3ed;}

#spd_tbl a:link{
    color: #ffffff;
    text-decoration: none;
}

#spd_tbl a:visited{
    color: #ffffff;
}

#spd_tbl a:hover{
    color: #0000ff;
    text-decoration: underline;
}

#spd_tbl a:active{
    color: #0000ff;
    text-decoration: underline;
}


#spd_tbl .spd{text-align: right;}
#spd_tbl .spd:before{content: "약 ";}
#spd_tbl .spd:after{content: " (MB/초)";}

/* 얘는 jQeury래
#spd_tbl td:nth-child(2){text-align: right;}
#spd_tbl td:nth-child(2):before{content: "약 ";}
#spd_tbl td:nth-child(2):after{content: " (MB/초)";}
*/